<?xml version="1.0" encoding="UTF-8"?>
<beans xmlns="http://www.springframework.org/schema/beans"
       xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
       xsi:schemaLocation="http://www.springframework.org/schema/beans http://www.springframework.org/schema/beans/spring-beans.xsd">

    <!-- <bean id="methodName" class="returnClass" /> -->
    <bean id="nConnectionMaker" class="springbook.user.dao.NConnectionMaker"/>
    <bean id="dConnectionMaker" class="springbook.user.dao.DConnectionMaker"/>

    <bean id="userDao" class="springbook.user.dao.UserDao">
        <!-- <property name="setter" ref="beanId"/> -->
        <property name="connectionMaker" ref="dConnectionMaker"/>
    </bean>

</beans>